In [91]:
import numpy as np
import pandas as pd

In [92]:
df = pd.read_csv('kc_house_data.csv')

In [93]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [94]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [95]:
y = df['price']
x = df.drop(columns=['id','date','price'])

In [96]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost
from sklearn.model_selection import train_test_split

In [107]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.2)

In [108]:
rfc = DecisionTreeRegressor()
rfc.fit(x_train, y_train)
rfc_y_pred = rfc.predict(x_test)

In [109]:
from sklearn.metrics import r2_score, explained_variance_score, max_error

In [110]:
r2_score(y_test, rfc_y_pred)

0.7658177922388019

In [111]:
rfg = RandomForestRegressor()
rfc.fit(x_train, y_train)
rfg_y_pred = rfc.predict(x_test)

In [112]:
r2_score(y_test, rfg_y_pred)

0.7878364419321385

In [113]:
xgb = xgboost.XGBRegressor(n_jobs=-1, max_depth=5)

In [114]:
xgb.fit(x_train, y_train)

C:\Users\chigrin-ys\AppData\Local\Continuum\anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[11:30:47] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [115]:
xgb_y_pred = xgb.predict(x_test)

In [116]:
r2_score(y_test, xgb_y_pred)

0.8819003912927537

In [3]:
# RandomSearch, GridSearch, only r2score applied, no cross_validation, no data_exploration